<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sm64_pcport_installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <sm64_pcport_installer.Properties.Settings>
            <setting name="source" serializeAs="String">
                <value>sm64-port</value>
            </setting>
            <setting name="jobNum" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="updateSrc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateMSY2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="newInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backup" serializeAs="String">
                <value />
            </setting>
            <setting name="msys2" serializeAs="String">
                <value />
            </setting>
            <setting name="ROM" serializeAs="String">
                <value />
            </setting>
            <setting name="terminal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="n64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bettercam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textureFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="externalData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textSaves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="draw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="render" serializeAs="String">
                <value>0</value>
            </setting>
        </sm64_pcport_installer.Properties.Settings>
    </userSettings>
</configuration>